<div class="p-4 w-full h-full flex flex-col items-center overflow-hidden">
    <h1 class="text-3xl font-bold mb-4 text-center border-b border-green-500 w-full text-yellow-400">RUCKSACK</h1>
    
    <div class="w-full flex justify-between mb-4 text-sm bg-green-900/20 p-2 border border-green-900">
        <span>ITEMS: <span id="inv-count" class="text-white">0</span></span>
        <span>CAPS: <span id="inv-caps" class="text-yellow-400">0</span></span>
    </div>

    <!-- GRID LAYOUT -->
    <div id="inventory-list" class="w-full grid grid-cols-4 gap-2 overflow-y-auto p-1 pb-10">
        <!-- Gefüllt von JS -->
    </div>

    <button class="action-button w-full mt-auto shrink-0" onclick="UI.switchView('map')">SCHLIESSEN</button>
</div>
